<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.zeusbase.HTMLGenerator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CodaAuthorString</key>
	<string>Haralambos Yokos</string>
	<key>CodaDescriptionString</key>
	<string>HTML Generator</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A317</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A317</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>name</key>
					<string>Text Input</string>
					<key>script</key>
					<string>zeusbase.codaplugin.input.php</string>
					<key>uuid</key>
					<string>794A1840-84F0-47B6-AE74-08BF2DFC1EE3</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>name</key>
					<string>Radio Input</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>postprocess</key>
					<string>save</string>
					<key>script</key>
					<string>zeusbase.codaplugin.radio.php</string>
					<key>uuid</key>
					<string>82511A98-5F46-4F2B-8045-ED2ED3C31B91</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>name</key>
					<string>Switch </string>
					<key>uuid</key>
					<string>849DA408-679C-4760-B528-7483A9E8C227</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>name</key>
					<string>Widget</string>
					<key>uuid</key>
					<string>B3AD766E-2E81-41B8-A64B-B442C244F78B</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>none</string>
					<key>name</key>
					<string>Table</string>
					<key>uuid</key>
					<string>795C4D26-463D-4AE7-8C09-D94A641DEA96</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>name</key>
					<string>Form</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>uuid</key>
					<string>C3D406B0-D96A-4033-B04A-B128E9A95801</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>name</key>
					<string>Button</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>zeusbase.codaplugin.button.php</string>
					<key>setInsertionPoint</key>
					<true/>
					<key>uuid</key>
					<string>8424343F-051A-4108-8235-2C2907128AED</string>
				</dict>
			</array>
			<key>name</key>
			<string>Zeusbase HTML Generator</string>
		</dict>
	</array>
</dict>
</plist>
