<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sh</key>
	<array>
		<string>#!/bin/bash</string>
		<string>#!/usr/bin/env bash</string>
	</array>
	<key>py</key>
	<array>
		<string>#!/usr/bin/python</string>
		<string>#!/usr/bin/env python</string>
	</array>
	<key>rb</key>
	<array>
		<string>#!/usr/bin/ruby</string>
		<string>#!/usr/bin/env ruby</string>
	</array>
	<key>php</key>
	<array>
		<string>#!/usr/bin/php</string>
		<string>#!/usr/bin/env php</string>
	</array>
</dict>
</plist>
