<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Foundation for Sites</string>
	<key>CodaAuthorString</key>
	<string>ZURB Inc</string>
	<key>CodaDescriptionString</key>
	<string>Foundation 5 components and grid</string>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.zurb.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$~@g</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Build grid</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>fnd-grid-generator-1.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>254B9432-4BF7-43E4-AAC2-C30F9C42C740</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$~@a</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Encode Grid</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>analyze-foundation-grid.php</string>
			<key>uuid</key>
			<string>BF6064B3-D267-4FAD-BA3F-EEC16E2B0D9C</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Accordion</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>accordion.php</string>
			<key>uuid</key>
			<string>2A6F93B1-3FD7-4051-9A3C-811B50798DD2</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Alert</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>alert.php</string>
			<key>uuid</key>
			<string>78AE9E4E-8CDC-4075-A61C-9A30A05E06DA</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Breadcrumbs</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>breadcrumbs.php</string>
			<key>uuid</key>
			<string>758D9901-0121-42F3-AC8D-2403BB59DC98</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Button bar</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>button-bar.php</string>
			<key>uuid</key>
			<string>8A6D6779-5469-4682-A885-DFEAF7A7CB91</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Button group</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>button-group.php</string>
			<key>uuid</key>
			<string>CBBFC066-C670-4D4A-9EFA-298E0CF7AD72</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Button</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>button.php</string>
			<key>uuid</key>
			<string>95570360-544E-4B19-9113-5B5ADD7DF3DB</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Clearing</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>clearing.php</string>
			<key>uuid</key>
			<string>55E650C0-A901-4972-875F-5BFF3BD10306</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Dropdown button</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>dropdown-button.php</string>
			<key>uuid</key>
			<string>83EA4A1E-7973-48DE-8A14-E1CE6429278E</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Offcanvas</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>offcanvas.php</string>
			<key>uuid</key>
			<string>72A11858-3CA3-4495-8509-04AD9E489CB1</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Pagination</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>pagination.php</string>
			<key>uuid</key>
			<string>A82417EE-F8E4-402F-B617-376E5505D006</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Panel</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>panel.php</string>
			<key>uuid</key>
			<string>36E53755-D35D-468C-A1C1-6A3C5F5A0C91</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Pricing table</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>pricing-table.php</string>
			<key>uuid</key>
			<string>303EFA51-B83B-4898-BE00-5D49019F8D30</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Progress bar</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>progress-bar.php</string>
			<key>uuid</key>
			<string>57DE7447-1F28-4B04-BFD8-3AEC27D8DA7B</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Reveal</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>reveal.php</string>
			<key>uuid</key>
			<string>ED1E80FD-6C50-4CB1-9035-2C65B78A6BD0</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Side nav</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>side-nav.php</string>
			<key>uuid</key>
			<string>DCA1D8FE-AF45-4205-A689-276B74C09743</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Split button</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>split-button.php</string>
			<key>uuid</key>
			<string>44D454C4-1A8B-4414-A9DD-00CFE7AA0B81</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Sub nav</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>sub-nav.php</string>
			<key>uuid</key>
			<string>5115B187-3902-40E9-9F20-ED023CABB2E8</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Tabs</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>tabs.php</string>
			<key>uuid</key>
			<string>F851C606-844D-4C61-B9B2-FF2D06CC7752</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Top bar</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>top-bar.php</string>
			<key>uuid</key>
			<string>5B0D2B38-57CE-4173-B9D4-9B7032DD2B79</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Vertical tabs</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>vertical-tabs.php</string>
			<key>uuid</key>
			<string>FDC025DC-25C1-40F6-B256-A83A862DD139</string>
		</dict>
	</array>
</dict>
</plist>
