<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>balance_outward</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>decrement_number_by_01</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>decrement_number_by_1</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>decrement_number_by_10</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>encode_decode_data_url</key>
	<dict>
		<key>keyCode</key>
		<integer>34</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>evaluate_math_expression</key>
	<dict>
		<key>keyCode</key>
		<integer>16</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>expand_abbreviation</key>
	<dict>
		<key>keyCode</key>
		<integer>14</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>increment_number_by_01</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>increment_number_by_1</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>increment_number_by_10</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>next_edit_point</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>prev_edit_point</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>reflect_css_value</key>
	<dict>
		<key>keyCode</key>
		<integer>15</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>remove_tag</key>
	<dict>
		<key>keyCode</key>
		<integer>39</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>select_next_item</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>select_previous_item</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>split_join_tag</key>
	<dict>
		<key>keyCode</key>
		<integer>39</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>toggle_comment</key>
	<dict>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>update_image_size</key>
	<dict>
		<key>keyCode</key>
		<integer>34</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>wrap_with_abbreviation</key>
	<dict>
		<key>keyCode</key>
		<integer>0</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
</dict>
</plist>
